body{
    padding: 0;
    margin: 0;
    background: url(image/fondo4.png) no-repeat center;
}

nav{
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    font-family: 'Montserrat', sans-serif;
    padding: 0 5%;
    height: 90px;
    background-color: rgb(0, 0, 0);
    /*margin: 20px auto;*/
}

nav .logo {
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 5px;
    color: white;

}

nav img{
    margin-top: 2px;
    margin-left: 17%;
    width: 55%;
    height: 55%;
}

nav .links{
    float: right;
    padding: 0;
    margin: 0;
    width: 57%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .links li{
    list-style: none;
}

nav .links a{
    display: block;
    padding: 1em;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
nav .links a:hover{
    background-color: rgb(240, 76, 103);
}
ul,ol{
    list-style: none;
}

nav .links{
    float: left;
}
nav li ul{
    display:none ;
    position: absolute;
    min-width: 10px;
    background-color: rgb(0, 0, 0);

}

nav li:hover > ul{
    display: block;
}

nav li ul li {
    position: relative;
}


nav .links span{
    color:rgb(255, 255, 255);
    font-size: 30px;
}

